openapi: 3.0.3
info:
  title: Volcano Hosting API
  description: |-
    Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).

    This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.
  version: 3.0.0
  contact:
    name: Volcano Hosting
    email: support@volcano.dev
servers:
  - url: https://api.volcano.dev
    description: Production API server
  - url: http://localhost:8000
    description: Development API server (use VOLCANO_API_URL env var)
tags:
  - name: Projects
    description: Project management operations
  - name: Logs
    description: Project-scoped log search and activity APIs
  - name: Functions
    description: Function deployment and management
  - name: Frontends
    description: Frontend deployment and management. Supports Next.js 15.x and 16.x with Node.js 22.x or 24.x inferred from package.json engines.node when the selected Node.js family satisfies the installed Next.js package engines.node constraint.
  - name: Tokens
    description: Service keys for function invocation and database admin access
  - name: Variables
    description: Environment variable management
  - name: Databases
    description: Serverless PostgreSQL database provisioning and management
  - name: Database Branches
    description: Short-lived forks of a database for development and testing
  - name: Database Queries
    description: REST API for querying databases (SELECT, INSERT, UPDATE, DELETE)
  - name: Authentication
    description: End-user authentication (signup, signin, profile)
  - name: Auth Admin
    description: Auth user management (platform admin only)
  - name: Auth Configuration
    description: Authentication settings and anon keys
  - name: Anon Keys
    description: Project-specific public keys for frontend auth
  - name: Service Keys
    description: Project-specific secret keys for admin operations (bypass RLS - backend only!)
  - name: OAuth Configuration
    description: OAuth provider configuration (Google, GitHub, Microsoft, Apple)
  - name: OAuth Authentication
    description: OAuth login flows and provider management for end users
  - name: Git Connections
    description: Platform-user git provider connections for deployment source integrations
  - name: Project Imports
    description: Read-only project source discovery and import readiness checks
  - name: Storage Buckets
    description: Storage bucket management (platform admin)
  - name: Storage Policies
    description: Storage access policy management (platform admin)
  - name: Storage Admin
    description: Storage statistics and cross-bucket object listing (platform admin)
  - name: Storage Objects
    description: File upload, download, and management (SDK-facing)
  - name: Locks
    description: Project-scoped leases for backend coordination (service-role keys only)
  - name: Realtime
    description: WebSocket realtime configuration and monitoring
  - name: System
    description: System health and monitoring endpoints
  - name: CLI Authentication
    description: |
      Browser-based CLI login flow for automatic token provisioning.
      The CLI creates a session, opens a browser for user authentication,
      and polls for completion. Session completion is handled by volcano.dev
      via the Management API.
paths:
  /user/imports/connect:
    post:
      tags:
        - Project Imports
      summary: Start a project import provider connection
      description: |
        Starts a first-party dashboard user's provider connection flow. The
        response sets a short-lived HttpOnly browser-binding cookie for the
        public provider callback.
      operationId: startImportConnect
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: provider
          in: query
          required: false
          description: Import provider to connect. Defaults to Vercel.
          schema:
            $ref: '#/components/schemas/ImportProvider'
        - name: redirect
          in: query
          required: false
          description: Validated application URL used after the provider callback.
          schema:
            type: string
            format: uri
            pattern: ^https://[^/?#]+(?:[/?][^#]*)?$|^http://(?:localhost|127\.0\.0\.1|\[::1\])(?::[0-9]+)?(?:[/?][^#]*)?$
      responses:
        '200':
          description: Provider authorization URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportConnectStartResponse'
        '400':
          description: Unsupported provider or invalid redirect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to start the connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Import provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /imports/{provider}/callback:
    get:
      tags:
        - Project Imports
      summary: Complete a project import provider connection
      description: |
        Public provider callback protected by signed state and the browser-binding
        cookie created by startImportConnect.
      operationId: completeImportConnect
      security: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ImportProvider'
        - name: state
          in: query
          required: true
          description: Signed connect state generated by startImportConnect.
          schema:
            type: string
        - name: code
          in: query
          required: false
          description: Provider authorization code.
          schema:
            type: string
        - name: error
          in: query
          required: false
          description: Provider error category.
          schema:
            type: string
        - name: teamId
          in: query
          required: false
          description: Vercel team selected during installation.
          schema:
            type: string
        - name: configurationId
          in: query
          required: false
          description: Vercel Integration configuration identifier.
          schema:
            type: string
        - name: next
          in: query
          required: false
          description: Provider completion URL validated by the provider adapter.
          schema:
            type: string
        - name: source
          in: query
          required: false
          description: Vercel installation source indicator.
          schema:
            type: string
      responses:
        '303':
          description: Redirect to the provider completion URL, signed application redirect, or Volcano import page
          headers:
            Location:
              description: Validated redirect target
              schema:
                type: string
        '400':
          description: Invalid callback request, state, or browser binding
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many callback attempts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to complete the connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Import provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/imports/connections:
    get:
      tags:
        - Project Imports
      summary: List project import provider connections
      operationId: listImportConnections
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      responses:
        '200':
          description: Stored import provider connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportConnectionsResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to list connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/imports/connections/{connectionId}:
    delete:
      tags:
        - Project Imports
      summary: Delete a project import provider connection
      operationId: deleteImportConnection
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: connectionId
          in: path
          required: true
          description: Connection ID to delete.
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Connection deleted
        '400':
          description: Malformed connection ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Connection changed while it was being deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to delete the connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Import provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /imports/{provider}/sources:
    get:
      tags:
        - Project Imports
      summary: List project sources available from a provider connection
      description: Lists provider projects without changing provider or Volcano resources.
      operationId: listImportSources
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ImportProvider'
        - name: connection_id
          in: query
          required: true
          description: Owned provider connection used for discovery.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Provider sources available to import
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportSourcesResponse'
        '400':
          description: Invalid provider or connection ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The provider connection lacks a required Integration scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connection or provider source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The provider connection must be reconnected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Provider rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to list provider sources
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Provider unavailable or integration not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /imports/{provider}/preflight:
    post:
      tags:
        - Project Imports
      summary: Check whether a provider project is ready to import
      description: Produces a deterministic read-only readiness report for a proposed new Volcano project.
      operationId: preflightProjectImport
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ImportProvider'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectImportPreflightRequest'
      responses:
        '200':
          description: Import readiness report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectImportReport'
        '400':
          description: Invalid provider, source, project name, or target
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: The provider connection lacks a required Integration scope
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connection or provider source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: The provider connection must be reconnected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Provider rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to produce an import readiness report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Provider unavailable or integration not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /imports/{provider}/runs:
    post:
      tags:
        - Project Imports
      summary: Start a Vercel project import
      description: Creates a Volcano project from an importable production preflight report. Retrying the same request with the same Idempotency-Key returns the existing run.
      operationId: startProjectImport
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ImportProvider'
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 255
            pattern: ^[!-~]+$
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectImportStartRequest'
      responses:
        '202':
          description: Import run accepted
          headers:
            Location:
              required: true
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectImportRun'
        '400':
          description: Invalid request or idempotency key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Provider permission or project admission denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connection or provider source not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Preflight is stale, idempotency key was reused, or destination conflicts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Source is not importable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Provider rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to start the import
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Provider unavailable or integration not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /imports/{provider}/runs/{runId}:
    get:
      tags:
        - Project Imports
      summary: Get a project import run
      operationId: getProjectImportRun
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/ImportProvider'
        - name: runId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Import run status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectImportRun'
        '400':
          description: Invalid import run ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Import run not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to get the import run
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/git/connect:
    post:
      tags:
        - Git Connections
      summary: Start a git provider connection
      description: |
        Starts a first-party dashboard user's git provider connection flow and
        returns the provider authorization URL. The response also sets a
        short-lived HttpOnly callback binding cookie tied to the authenticated
        user through the signed provider state.
      operationId: startGitConnect
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: provider
          in: query
          required: false
          description: Git provider to connect. Defaults to github.
          schema:
            type: string
            enum:
              - github
            default: github
        - name: redirect
          in: query
          required: false
          description: URL to redirect the browser to after the provider callback completes.
          schema:
            type: string
      responses:
        '200':
          description: Provider authorization URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitConnectStartResponse'
        '400':
          description: Unsupported provider or invalid redirect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to start the connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/git/connections:
    get:
      tags:
        - Git Connections
      summary: List git provider connections
      operationId: listGitConnections
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      responses:
        '200':
          description: Stored git provider connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitConnectionsResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to list connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/git/connections/{connectionId}:
    delete:
      tags:
        - Git Connections
      summary: Delete a git provider connection
      operationId: deleteGitConnection
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: connectionId
          in: path
          required: true
          description: Connection ID to delete
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Connection deleted
        '400':
          description: Malformed connection ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to delete connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/git/connections/{connectionId}/installations:
    get:
      tags:
        - Git Connections
      summary: List GitHub App installations accessible to a connection
      description: |
        Live proxy to GitHub: lists the platform GitHub App installations the
        connection's stored user token can access. Nothing is persisted by
        this call.
      operationId: listGitInstallations
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: connectionId
          in: path
          required: true
          description: Connection ID to browse installations for.
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Installations accessible to the connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitInstallationsResponse'
        '400':
          description: Malformed connection ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to list installations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/git/connections/{connectionId}/installations/{installationId}/repositories:
    get:
      tags:
        - Git Connections
      summary: List repos accessible to a connection through an installation
      description: |
        Live proxy to GitHub: lists the repos the connection's stored user
        token can access through installationId. Nothing is persisted by this
        call.
      operationId: listGitInstallationRepositories
      security:
        - UserToken: []
        - AuthUserAccessToken: []
      parameters:
        - name: connectionId
          in: path
          required: true
          description: Connection ID to browse repositories for.
          schema:
            type: string
            format: uuid
        - name: installationId
          in: path
          required: true
          description: GitHub App installation ID.
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Repositories accessible through the installation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitRepositoriesResponse'
        '400':
          description: Malformed connection or installation ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to list repositories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /github/callback:
    get:
      tags:
        - Git Connections
      summary: Complete a GitHub App connection callback
      description: |
        Public GitHub App callback. The signed state and callback binding cookie
        bind the provider authorization to the browser that started the flow.
      operationId: gitConnectCallback
      security: []
      parameters:
        - name: code
          in: query
          required: false
          description: GitHub user authorization code.
          schema:
            type: string
        - name: state
          in: query
          required: true
          description: Signed connect state generated by startGitConnect.
          schema:
            type: string
        - name: error
          in: query
          required: false
          description: Provider error returned by GitHub.
          schema:
            type: string
      responses:
        '303':
          description: Redirect back to the app after a successful or failed connect attempt
          headers:
            Location:
              description: Redirect target
              schema:
                type: string
        '400':
          description: Invalid callback request or state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many callback attempts from this client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to complete the connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects:
    get:
      tags:
        - Projects
      summary: List all projects for authenticated user
      description: |
        Returns projects that are not deleting or deleted, newest first.
        Supports two mutually exclusive pagination modes. Offset mode uses
        `page` and `limit`. Cursor mode uses `cursor` or `ending_before` with
        `limit`, returns `next_cursor`/`prev_cursor`, and supports a bounded
        `offset` past the cursor anchor. Supplying `limit` without `page`
        selects cursor mode. `search` applies a case-insensitive project-name
        filter in either mode. Sending `page` with `cursor` or `ending_before`,
        or sending both cursor directions, returns 400.
      operationId: listProjects
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/EndingBefore'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjects'
        '400':
          description: Invalid or conflicting pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Projects
      summary: Create a new project
      description: |
        Creates a project for the authenticated user.
        Each user can create up to 1,000 projects. Requests over this cap return 403.
      operationId: createProject
      security:
        - UserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Project limit exceeded for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}:
    get:
      tags:
        - Projects
      summary: Get project by ID
      operationId: getProject
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Projects
      summary: Update project metadata and region policy
      operationId: updateProject
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden (for example, selecting subset regions on non-PRO plan)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict (project name already exists or a resource deployment blocks a region change)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Projects
      summary: Delete a project
      description: |
        Starts asynchronous project deletion. The project remains available from
        `GET /projects/{id}` with `status: deleting` until cleanup finishes, but is
        removed from project lists as soon as deletion starts. After cleanup it
        returns 404.
      operationId: deleteProject
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '202':
          description: Project deletion started
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/health:
    get:
      tags:
        - Projects
      summary: Get project health
      description: |
        Returns a fast control-plane health snapshot for the project and its
        deployed resources. The endpoint does not run live provider probes.
        A successful request returns 200 even when the project status is
        `unhealthy`; transport and authorization failures use HTTP errors.
      operationId: getProjectHealth
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project health snapshot retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectHealthResponse'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/metrics/query:
    post:
      tags:
        - Projects
      summary: Query project runtime metrics
      description: |
        Evaluates a batch of named, curated runtime metric queries over one
        trailing time range. Query IDs correlate each request with its result;
        raw backend query languages are intentionally not exposed.
      operationId: queryProjectMetrics
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectMetricsQueryRequest'
      responses:
        '200':
          description: Project runtime metric queries evaluated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMetricsQueryResponse'
        '400':
          description: Invalid metric query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Runtime metrics backend unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/logo:
    get:
      tags:
        - Projects
      summary: Get the project logo image
      description: |
        Returns the raw logo image stored in the project's storage folder. This
        endpoint is unauthenticated so the asset can be rendered directly in an
        `<img>` tag; project IDs are unguessable UUIDs and logos are
        non-sensitive branding. The `Project.logo_url` field exposes a versioned
        path to this endpoint.
      operationId: getProjectLogo
      security: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Logo image
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/svg+xml:
              schema:
                type: string
                format: binary
        '404':
          description: Project or logo not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Projects
      summary: Upload or replace the project logo
      description: |
        Uploads an image as the project's logo, storing it in the project's
        storage folder. Accepts PNG, JPEG, GIF, WebP, or SVG up to 2 MB. Replaces any
        existing logo. Returns the updated project, whose `logo_url` reflects
        the new logo.
      operationId: uploadProjectLogo
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - logo
              properties:
                logo:
                  type: string
                  format: binary
                  description: Logo image (PNG, JPEG, GIF, WebP, or SVG; max 2 MB)
      responses:
        '200':
          description: Logo uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request (missing file, unsupported type, or too large)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Project is being deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Logo storage is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Projects
      summary: Remove the project logo
      description: |
        Deletes the project logo from the project's storage folder and clears its
        record. Returns the updated project with no `logo_url`.
      operationId: deleteProjectLogo
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Logo removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Project is being deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Logo storage is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/usage:
    get:
      tags:
        - Projects
      summary: Get usage metrics for a project
      description: |
        Returns project usage totals for the current usage month plus
        recent hourly and daily time series for each tracked metric.
      operationId: getProjectUsage
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Usage metrics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUsageResponse'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/config:
    get:
      tags:
        - Projects
      summary: Export project configuration
      description: |
        Exports the project's current user-facing configuration as a
        declarative manifest. Returns JSON by default. Request the canonical
        volcano-config.yaml rendering with `Accept: application/yaml` or
        `?format=yaml`; the YAML is returned verbatim as the raw response body
        (`Content-Type: application/yaml`) and is meant to be saved as-is.
        Write-only secrets (SMTP password, OAuth client secrets, TLS material)
        are omitted from the export; the YAML rendering adds a header comment
        describing how to set them via CLI environment interpolation.
      operationId: getProjectConfig
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: format
          in: query
          required: false
          description: Response format override. Takes precedence over the Accept header.
          schema:
            type: string
            enum:
              - json
              - yaml
      responses:
        '200':
          description: |
            Current project configuration. JSON by default; when YAML is
            requested the body is the canonical volcano-config.yaml document
            served verbatim with `Content-Type: application/yaml`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectConfig'
            application/yaml:
              schema:
                type: string
                format: binary
                description: |
                  Canonical volcano-config.yaml document returned verbatim,
                  ready to be saved as-is.
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Projects
      summary: Apply project configuration
      description: |
        Validates and applies a declarative configuration manifest to the
        project, reconciling each declared section and returning a per-resource
        report. Omitted sections are untouched. Declared collection keys
        (`variables`, `buckets[].policies`, `auth.providers.oauth`,
        `auth.email.templates`, `functions[].schedulers`) are fully synced:
        resources absent from the manifest are deleted. Functions, frontends,
        databases, and buckets are never created or deleted; manifest entries
        for resources that do not exist are skipped and reported in `skipped`,
        and existing resources missing from a declared section are reported in
        `missing`. Validation failures (including plan-gate violations) return
        422 and nothing is applied. Set `dry_run=true` to get the projected
        report without applying changes. Applies are serialized per project;
        a concurrent apply returns 409.
      operationId: applyProjectConfig
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: dry_run
          in: query
          required: false
          description: Validate and report projected actions without applying changes.
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectConfig'
      responses:
        '200':
          description: |
            Apply report. Individual entries may still carry `action: error`
            for apply-phase failures (summary.errors > 0); already-applied
            changes are not rolled back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectConfigApplyResult'
        '400':
          description: Malformed request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Another apply is in progress for this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Manifest validation failed; nothing was applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectConfigValidationErrorResponse'
  /projects/{id}/source-export:
    get:
      tags:
        - Projects
        - Git Connections
      summary: Report the project's source-of-truth state
      operationId: getProjectSourceExport
      description: |
        Volcano stores the source of the functions and frontend it runs for a
        project. This reports whether that source has been written to the
        connected repository, and whether the repository has taken over as the
        project's source of truth.

        `mode` is `platform`, `git_exporting`, `git_pending`, or `git`. Export
        enters `git_exporting` before reading stored source. GitHub's signed
        push event confirms that the initial commit reached the production
        branch. That push or a newer production push changes the mode to
        `git_pending` when it starts a deployment. `exported_at` records that
        transition.

        A successful Git run completes the transition when it matches the
        recorded repository, production branch, and root directory and actually
        dispatches every recorded resource. Ordinary production-branch pushes
        deploy without changing a platform-managed project's source ownership.
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: The project's source-of-truth state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSourceExportState'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Source export is not available in this deployment mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Projects
        - Git Connections
      summary: Initialize an empty repository with a project's stored source
      operationId: exportProjectSource
      description: |
        Creates the first commit in the connected repository and pushes it
        directly to the configured production branch. The push enters the
        ordinary Git auto-deploy flow. Direct source writes remain frozen until
        that deployment succeeds and the repository becomes the source of truth.

        The caller confirms the production branch shown before export. Starting
        export pins that branch: later GitHub default-branch changes do not
        repoint the project. If the configured branch changed after the caller
        read it, the request fails without exporting so the caller can show and
        confirm the new value.

        The response lists what the export could not carry: resources with no
        successful deployment to take source from (`skipped`), and things no
        export can hand back (`omitted`) — migrations, which Volcano stores no
        copy of, and credential-shaped files, which are left for their owner to
        add.

        Requires a connected repository with no commits or branches, and runs
        once. Volcano never creates the repository. If GitHub did not confirm
        the push, retrying creates the same commit and adopts it when it already
        reached the repository.
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportProjectSourceRequest'
      responses:
        '201':
          description: The initial production-branch commit that was pushed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSourceExport'
        '400':
          description: Malformed request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found, or it has no repository connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: |
            The source has already been exported, the repository has already
            taken over as the source of truth, the confirmed production branch
            is stale, a function or frontend deployment is still in progress,
            or the project has no stored source to export
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: |
            The repository refused the branch, or its contents cannot be laid
            out as a repository — a stored file that only ever carries
            credentials, or a layout Git auto-deploy would not read back
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: GitHub rate limited the request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Source export is not available in this deployment mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: GitHub integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Projects
        - Git Connections
      summary: Cancel an incomplete source export
      operationId: cancelProjectSourceExport
      description: |
        Restores platform source writes while the project is in
        `git_exporting` or `git_pending`. If Volcano reserved or deployed the
        root commit, export remains consumed and cannot be run again. The
        connected repository and any commit already pushed to it are unchanged.
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '204':
          description: The incomplete source transition was canceled
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: No incomplete transition exists, or Git already took ownership
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '501':
          description: Source export is not available in this deployment mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/git-connection/production-branch:
    put:
      tags:
        - Projects
        - Git Connections
      summary: Set the branch a project deploys from
      description: |
        Changes only the production branch, leaving the repository binding
        alone. PUT /projects/{id}/git-connection can also set it, but that is a
        full rebind: it needs connection_id, installation_id and a repository
        selector resent, and re-resolves the repository against GitHub for a
        field that does not depend on it.

        The branch does not have to exist. It is validated as a Git branch name
        and nothing more, so a project can be pointed at a branch that is about
        to be pushed — the case a repository created empty depends on.

        Setting the branch here marks it as the project's own choice, so a later
        default-branch rename on GitHub no longer moves it. Projects that never
        set one keep following the repository's default branch.
      operationId: setProjectGitProductionBranch
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetProjectGitProductionBranchRequest'
      responses:
        '200':
          description: The project's repo connection, with the new branch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGitConnection'
        '400':
          description: |
            Malformed request body, or a production_branch that is not a valid
            Git branch name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Project not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: |
            Project not found, or it has no repository connected. The branch is
            part of the connection, so there is nothing to set it on until one
            exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: A Git source transition is pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to set the production branch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/git-connection:
    get:
      tags:
        - Projects
        - Git Connections
      summary: Get a project's repo connection
      operationId: getProjectGitConnection
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: The project's current repo connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGitConnection'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Project not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found, or has no repo connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to get project git connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Projects
        - Git Connections
      summary: Connect or update a project's repo connection
      description: |
        Full replace, following Vercel's model: many projects may point at the
        same repo, so this only binds the project — it never creates or
        deletes git-provider state. Used for both the initial connect and
        later edits (repo change, root directory, production branch).
        Resolves the repository_id or repo_full_name selector against the repos
        accessible through installation_id via connection_id's stored GitHub
        user token, then persists repository metadata only from that validated
        GitHub response.
      operationId: connectProjectGit
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectProjectGitRequest'
      responses:
        '200':
          description: The project's repo connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGitConnection'
        '400':
          description: |
            Malformed request body, no repository selector, selectors that
            identify different repositories, a production_branch that is not a
            valid Git branch name, no production_branch on a repository with no
            default branch to follow (name one to connect a repository that has
            no commits yet), or a production_branch other than the new
            repository's default in a request that also changes repository.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: |
            Project not owned by the caller, or the selected repository is not
            accessible through installation_id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project or connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: |
            A Git source transition is pending or complete, so the recorded
            repository and root cannot be changed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to connect project git
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Projects
        - Git Connections
      summary: Disconnect a project's repo connection
      operationId: disconnectProjectGit
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '204':
          description: Connection removed
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Project not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found, or has no repo connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: |
            A Git source transition is pending or complete, so the recorded
            repository cannot be disconnected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to disconnect project git
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/git-deploy-settings:
    get:
      tags:
        - Projects
        - Git Connections
      summary: Get a project's Git auto-deploy settings
      operationId: getProjectGitDeploySettings
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: The project's current Git auto-deploy settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGitDeploySettings'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Project not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to get project git deploy settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Projects
        - Git Connections
      summary: Update a project's Git auto-deploy settings
      description: |
        Full replace of the project's Git auto-deploy settings: what a push to
        the connected repo's production branch deploys.

        Connecting a repository sets auto_deploy_enabled and deploy_functions
        to true for a project that has never called this endpoint, so a push
        deploys without any further setup. Once these settings have been saved
        here they are the project's own: connecting, rebinding, disconnecting
        and reconnecting all leave them untouched, including when they were
        saved before any repository was connected. Frontend settings are off
        until set here; the frontend need not exist when they are saved, since
        frontend_name is resolved at deploy time.
      operationId: updateProjectGitDeploySettings
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectGitDeploySettingsRequest'
      responses:
        '200':
          description: The project's updated Git auto-deploy settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGitDeploySettings'
        '400':
          description: Malformed request body, or frontend_app_root without frontend_name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Project not owned by the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: |
            A Git source transition is pending, or this change would remove
            deploy coverage after Git has taken over
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to update project git deploy settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/databases/{databaseName}/queries:
    get:
      tags:
        - Databases
      summary: Get database queries
      description: |
        Returns the database's current top queries from pg_stat_statements
        ranked by total execution time.

        **PRO plan required.** This endpoint is only available to projects owned
        by users on the PRO billing plan.
      operationId: getProjectDatabaseQueries
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/DatabaseName'
        - name: limit
          in: query
          description: Maximum number of queries to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: Database query performance retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseQueryPerformanceResponse'
        '400':
          description: Bad request - invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project or database not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /deployments:
    get:
      tags:
        - Projects
      summary: List deployments across a user's projects
      description: |
        Lists Function and Frontend deployment attempts across every project the
        user owns, newest first. Pass `project_id` to narrow the feed to a single
        project.

        Scope is project **ownership** (`projects.user_id`). `owner_id` names
        whose deployments to return, not who started them — the actor is
        `initiated_by_user_id`, which this endpoint does not filter on.

        With a user token the scope is always the authenticated user: `owner_id`
        may be omitted, or set to that same user, but naming anyone else is
        refused with 403. Service callers on the management API must pass it,
        since they have no authenticated user.

        The owner is not checked for existence: an id with no projects returns an
        empty page rather than `404`. Unlike `/users/{id}/usage`, this endpoint is
        polled to detect an event, so a caller needs `404` to keep meaning "this
        route is not served here" — which is how a consumer notices it is running
        against an older release. A mistyped owner therefore reads as "nothing
        deployed"; callers that need to tell those apart should verify the user
        through `GET /users/{id}` first.

        Ordering is selectable. The default is the feed order — most recent
        attempt first. `completed_at.asc` orders by completion, oldest first, and
        considers only attempts that finished; combined with `limit=1` and a
        `status` filter it answers "when did this user first succeed" in one
        bounded query.

        Both pagination modes are supported, selected exactly as
        `/projects/{id}/deployments` selects them: `cursor`/`ending_before` (or a
        `limit` with no `page`) uses keyset pagination; otherwise `page`/`limit`
        offset pagination. `page` with a cursor, and `cursor` with
        `ending_before`, are rejected.

        A cursor is bound to every filter *and* to `order`, so changing any of
        them mid-pagination rejects the cursor rather than silently skipping or
        repeating rows. The keyset position is `(created_at, id)` for
        `created_at.desc` and `(completed_at, id)` for `completed_at.asc`.
      operationId: listDeployments
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/EndingBefore'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/DeploymentOwnerId'
        - name: project_id
          in: query
          required: false
          description: Restrict the feed to a single project owned by the user.
          schema:
            type: string
            format: uuid
        - name: created_after
          in: query
          required: false
          description: Restrict results to attempts created at or after this timestamp.
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/DeploymentResourceType'
        - $ref: '#/components/parameters/DeploymentStatus'
        - $ref: '#/components/parameters/DeploymentOperation'
        - $ref: '#/components/parameters/DeploymentOrder'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectDeployments'
        '400':
          description: Bad request - invalid filter or pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - owner_id names a different user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/deployments:
    get:
      tags:
        - Projects
      summary: List deployments in a project
      description: |
        Lists Function and Frontend deployment attempts across the project,
        ordered most-recent first. Each item includes a normalized resource
        reference so clients can render both resource types without extra
        fetches.
      operationId: listProjectDeployments
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/EndingBefore'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Search'
        - name: created_after
          in: query
          required: false
          description: Restrict results to attempts created at or after this timestamp.
          schema:
            type: string
            format: date-time
        - name: resource_type
          in: query
          required: false
          description: |
            Restrict the feed to a single resource type. Omit to return both
            Function and Frontend deployments.
          schema:
            type: string
            enum:
              - function
              - frontend
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectDeployments'
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/deployments/summary:
    get:
      tags:
        - Projects
      summary: Summarize deployments in a project
      description: |
        Summarizes deployment attempts for one comparable resource pipeline.
        Success rate uses conclusive outcomes only: active and deleted attempts
        are successful; failed and degraded attempts are failures; in-progress
        and superseded attempts are excluded. Median build duration includes
        completed, non-superseded attempts with recorded build work,
        including failed builds.
      operationId: summarizeProjectDeployments
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: search
          in: query
          required: false
          description: Restrict the summary to resource names containing this value.
          schema:
            type: string
        - name: resource_type
          in: query
          required: true
          description: Restrict the summary to one comparable deployment pipeline.
          schema:
            type: string
            enum:
              - function
              - frontend
        - name: created_after
          in: query
          required: false
          description: Restrict results to attempts created at or after this timestamp.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectDeploymentSummary'
        '400':
          description: Bad request - invalid identifier or filter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/domains:
    get:
      tags:
        - Frontends
      summary: List all custom domains in a project
      description: |
        Project-scoped custom-domain list. Returns every active custom
        domain across every frontend in the project (excludes soft-deleted
        rows). Each item inlines the linked frontend's id and name so the
        UI does not need a second fetch to render the "Linked to" column.
      operationId: listProjectCustomDomains
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/EndingBefore'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectCustomDomains'
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/functions:
    get:
      tags:
        - Functions
      summary: List all functions in a project
      description: |
        Supports two mutually exclusive pagination modes. Offset mode uses `page`
        and `limit` and returns `next` (URL). Cursor mode uses `cursor` and
        `limit`, supports `search` (case-insensitive name match), and returns
        `next_cursor`/`prev_cursor`. Sending both `page` and `cursor` (or `page`
        and `search`) returns 400.
      operationId: listFunctions
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/EndingBefore'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Search'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFunctions'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Functions
      summary: Create or update function code
      description: |
        Upload a serverless function source bundle. Direct API clients may send the function code
        as a ZIP or tar.gz archive via multipart/form-data. The API stores a normalized tar.gz
        source archive.
        Cloud deploys should include source files and dependency manifests/lockfiles, not installed
        dependency directories. Volcano installs Node.js, Python, and Ruby dependencies during the
        function compile build.
        Source archive size is enforced by the API with `SOURCE_ARCHIVE_SIZE_LIMIT_MB`; the CLI
        does not apply its own source archive size limit. After the final container image is
        built, the publish build enforces `LAMBDA_TARGET_CONTAINER_SIZE_LIMIT_MB` before pushing.
        Uploaded source archives cannot contain symlink entries. Safe symlinks created during
        the cloud build are materialized before publish.
        Volcano builds and deploys the function asynchronously after upload. A deployment that starts
        immediately returns a Function resource with `status: provisioning`, then transitions to
        `active` or `failed`. If another deployment is running, the response preserves the resource's
        current status and exposes the queued deployment through `pending_deployment_id`.
        Existing function traffic continues to use the last known-good runtime during an update. A failed
        update keeps that runtime available and records the attempted deployment as failed.
        Only one deployment runs for a given function. A newer request supersedes any queued request
        and starts after the running deployment. Different functions and projects deploy concurrently.
        If a function with the same name already exists in the project, this operation updates that
        function's runtime, handler, and source bundle and returns `200 OK`.
        Each project can contain up to 10,000 functions. Creating a new function over this cap returns 403.
      operationId: createFunction
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - code
                - runtime
              properties:
                name:
                  type: string
                  description: DNS-safe function name (lowercase letters, numbers, hyphens; cannot start or end with hyphen)
                  maxLength: 63
                  pattern: ^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$
                  example: my-api-function
                code:
                  type: string
                  format: binary
                  description: ZIP or tar.gz archive containing function source code plus dependency manifests/lockfiles. The API enforces SOURCE_ARCHIVE_SIZE_LIMIT_MB and stores a normalized tar.gz source archive.
                runtime:
                  type: string
                  enum:
                    - nodejs22.x
                    - nodejs24.x
                    - python3.10
                    - python3.11
                    - python3.12
                    - python3.13
                    - python3.14
                    - ruby3.3
                    - ruby3.4
                    - ruby4.0
                  description: |
                    Runtime environment. Required.
                    - Node.js: nodejs22.x, nodejs24.x
                    - Python: python3.10, python3.11, python3.12, python3.13, python3.14
                    - Ruby: ruby3.3, ruby3.4, ruby4.0
                  example: nodejs24.x
                handler:
                  type: string
                  description: |
                    The name of the function to invoke. Defaults to "handler" if not specified.
                    Your code must export/define a function with this name:
                    - Node.js: exports.handler (in index.js)
                    - Python: def handler() (in main.py)
                    - Ruby: def handler() (in main.rb)
                  default: handler
                  example: handler
                is_public:
                  type: boolean
                  default: false
                  description: Whether the function can be reached through public invocation ingress.
                invocation_mode:
                  $ref: '#/components/schemas/FunctionInvocationMode'
                http_auth_mode:
                  $ref: '#/components/schemas/FunctionHTTPAuthMode'
                openapi_spec:
                  type: string
                  description: JSON-encoded OpenAPI 3.0 or 3.1 metadata for an HTTP-mode function.
      responses:
        '200':
          description: Existing function updated; its deployment was started or queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '201':
          description: Function created and deployment workflow started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '400':
          description: Bad request (invalid file, too large, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Function limit exceeded for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Function deletion is queued or running
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error (function deployment failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/functions/{functionId}:
    get:
      tags:
        - Functions
      summary: Get function by ID
      operationId: getFunction
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '404':
          description: Function not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Functions
      summary: Update function settings
      description: |
        Updates invocation settings without redeploying the function runtime. A function with a
        custom domain attached or detaching must remain public and in HTTP invocation mode until
        the domain has been fully detached.
      operationId: updateFunction
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFunctionRequest'
            examples:
              makePublic:
                summary: Make function public (anon keys can invoke)
                value:
                  is_public: true
              makePrivate:
                summary: Make function private (default behavior)
                value:
                  is_public: false
      responses:
        '200':
          description: Function updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Function not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Custom domain attached; the function must remain public and in HTTP mode
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Functions
      summary: Delete a function
      description: |
        Schedules asynchronous function deletion. If another deployment is running, the function
        preserves its current status and exposes the queued deletion through `pending_deployment_id`.
        Its status changes to `deleting` when cleanup starts. After cleanup, it returns 404 and no
        longer appears in function lists.
      operationId: deleteFunction
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
      responses:
        '202':
          description: Function deletion started or queued
        '404':
          description: Function not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /functions/{functionId}/invoke:
    post:
      tags:
        - Functions
      summary: Invoke a function
      description: |
        Invoke a serverless function.

        **With Service Key** (admin/background operations):
        - Use for background jobs, webhooks, cron, admin operations
        - Function receives payload only (no user context)
        - Database queries bypass RLS (admin access)

        **With Auth User Token** (user-facing):
        - Use for user-initiated actions
        - Function receives payload + `__volcano_auth` context:
          ```javascript
          {
            user_id: "uuid",
            email: "user@example.com",
            project_id: "uuid",
            role: "authenticated" or "anonymous"
          }
          ```
        - Database queries enforce RLS (user-scoped data)

        **With Anon Key** (public function only):
        - Requires anon key permission: `functions.invoke`
        - Function must have `is_public: true`
        - Function receives payload only (no `__volcano_auth`)

        **Transport and CORS:**
        - This operation is the authenticated direct RPC endpoint and always uses the
          POST `{payload: ...}` contract, including for functions whose DNS ingress is
          configured in HTTP mode.
        - The geo-routed DNS ingress is `https://{functionId}.functions.<domain>/`.
        - RPC-mode DNS ingress accepts POST at `/`. HTTP-mode DNS ingress accepts GET,
          HEAD, POST, PUT, PATCH, and DELETE at `/` and nested paths.
        - Direct and RPC-mode CORS preflight advertises `POST, OPTIONS`. HTTP-mode DNS
          preflight advertises `GET, HEAD, POST, PUT, PATCH, DELETE, OPTIONS`.
        - `http_auth_mode: none` applies only to public HTTP-mode DNS ingress; this
          direct operation always requires a Volcano credential.
      operationId: invokeFunction
      security:
        - AnonKey: []
        - ServiceRoleKey: []
        - AuthUserAccessToken: []
      parameters:
        - $ref: '#/components/parameters/FunctionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionInvocationRequest'
            examples:
              serviceCall:
                summary: Admin/background operation (service key)
                value:
                  payload:
                    action: process_batch
                    items:
                      - 1
                      - 2
                      - 3
              userCall:
                summary: User-initiated call (auth token)
                value:
                  payload:
                    action: get_profile
              anonCall:
                summary: Public function call (anon key)
                value:
                  payload:
                    action: ping_public_endpoint
      responses:
        '200':
          description: Function response (passthrough from function runtime)
          headers:
            X-Volcano-Version:
              description: Volcano API/runtime version that served this invocation (`<version>` in production, `<env>-<version>` in non-production)
              schema:
                type: string
            X-Volcano-Region:
              description: Region the function ran in (for example `us-east-1`)
              schema:
[...]
