openapi: 3.0.3
info:
  title: Volcano Hosting API
  description: |-
    Public API for Volcano Hosting clients, SDKs, and CLI tooling (Port 8000).

    This specification intentionally excludes first-party/internal APIs. See api/openapi-internal.yaml for non-public internal and Builder operations.
  version: 3.0.0
  contact:
    name: Volcano Hosting
    email: support@volcano.dev
servers:
  - url: https://api.volcano.dev
    description: Production API server
  - url: http://localhost:8000
    description: Development API server (use VOLCANO_API_URL env var)
tags:
  - name: Projects
    description: Project management operations
  - name: Logs
    description: Project-scoped log search and activity APIs
  - name: Functions
    description: Function deployment and management
  - name: Frontends
    description: Frontend deployment and management. Supports Next.js 15.x and 16.x with Node.js 22.x or 24.x inferred from package.json engines.node when the selected Node.js family satisfies the installed Next.js package engines.node constraint.
  - name: Tokens
    description: Service keys for function invocation and database admin access
  - name: Variables
    description: Environment variable management
  - name: Databases
    description: Serverless PostgreSQL database provisioning and management
  - name: Database Queries
    description: REST API for querying databases (SELECT, INSERT, UPDATE, DELETE)
  - name: Authentication
    description: End-user authentication (signup, signin, profile)
  - name: Auth Admin
    description: Auth user management (platform admin only)
  - name: Auth Configuration
    description: Authentication settings and anon keys
  - name: Anon Keys
    description: Project-specific public keys for frontend auth
  - name: Service Keys
    description: Project-specific secret keys for admin operations (bypass RLS - backend only!)
  - name: OAuth Configuration
    description: OAuth provider configuration (Google, GitHub, Microsoft, Apple)
  - name: OAuth Authentication
    description: OAuth login flows and provider management for end users
  - name: Git Connections
    description: Platform-user git provider connections for deployment source integrations
  - name: Storage Buckets
    description: Storage bucket management (platform admin)
  - name: Storage Policies
    description: Storage access policy management (platform admin)
  - name: Storage Admin
    description: Storage statistics and cross-bucket object listing (platform admin)
  - name: Storage Objects
    description: File upload, download, and management (SDK-facing)
  - name: Realtime
    description: WebSocket realtime configuration and monitoring
  - name: System
    description: System health and monitoring endpoints
  - name: CLI Authentication
    description: |
      Browser-based CLI login flow for automatic token provisioning.
      The CLI creates a session, opens a browser for user authentication,
      and polls for completion. Session completion is handled by volcano.dev
      via the Management API.
paths:
  /user/git/connect:
    post:
      tags:
        - Git Connections
      summary: Start a git provider connection
      description: |
        Starts a platform-user git provider connection flow and returns the
        provider authorization URL. The response also sets a short-lived
        HttpOnly callback binding cookie used to finish the flow.
      operationId: startGitConnect
      security:
        - UserToken: []
      parameters:
        - name: provider
          in: query
          required: false
          description: Git provider to connect. Defaults to github.
          schema:
            type: string
            enum:
              - github
            default: github
        - name: redirect
          in: query
          required: false
          description: URL to redirect the browser to after the provider callback completes.
          schema:
            type: string
      responses:
        '200':
          description: Provider authorization URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitConnectStartResponse'
        '400':
          description: Unsupported provider or invalid redirect
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to start the connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/git/connections:
    get:
      tags:
        - Git Connections
      summary: List git provider connections
      operationId: listGitConnections
      security:
        - UserToken: []
      responses:
        '200':
          description: Stored git provider connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GitConnectionsResponse'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to list connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /user/git/connections/{connectionId}:
    delete:
      tags:
        - Git Connections
      summary: Delete a git provider connection
      operationId: deleteGitConnection
      security:
        - UserToken: []
      parameters:
        - name: connectionId
          in: path
          required: true
          description: Connection ID to delete
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Connection deleted
        '400':
          description: Malformed connection ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to delete connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /github/callback:
    get:
      tags:
        - Git Connections
      summary: Complete a GitHub App connection callback
      description: |
        Public GitHub App callback. The signed state and callback binding cookie
        bind the provider authorization to the browser that started the flow.
      operationId: gitConnectCallback
      security: []
      parameters:
        - name: code
          in: query
          required: false
          description: GitHub user authorization code.
          schema:
            type: string
        - name: state
          in: query
          required: true
          description: Signed connect state generated by startGitConnect.
          schema:
            type: string
        - name: error
          in: query
          required: false
          description: Provider error returned by GitHub.
          schema:
            type: string
      responses:
        '303':
          description: Redirect back to the app after a successful or failed connect attempt
          headers:
            Location:
              description: Redirect target
              schema:
                type: string
        '400':
          description: Invalid callback request or state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many callback attempts from this client
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Failed to complete the connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Git provider integration is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects:
    get:
      tags:
        - Projects
      summary: List all projects for authenticated user
      operationId: listProjects
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjects'
    post:
      tags:
        - Projects
      summary: Create a new project
      description: |
        Creates a project for the authenticated user.
        Each user can create up to 1,000 projects. Requests over this cap return 403.
      operationId: createProject
      security:
        - UserToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '201':
          description: Project created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Project limit exceeded for the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}:
    get:
      tags:
        - Projects
      summary: Get project by ID
      operationId: getProject
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Projects
      summary: Update project metadata and region policy
      operationId: updateProject
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProjectRequest'
      responses:
        '200':
          description: Project updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden (for example, selecting subset regions on non-PRO plan)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict (project name already exists)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Projects
      summary: Delete a project
      description: |
        Starts asynchronous project deletion. The project remains visible with `status: deleting`
        until cleanup finishes, then it returns 404 and no longer appears in project lists.
      operationId: deleteProject
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '202':
          description: Project deletion started
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/health:
    get:
      tags:
        - Projects
      summary: Get project health
      description: |
        Returns a fast control-plane health snapshot for the project and its
        deployed resources. The endpoint does not run live provider probes.
        A successful request returns 200 even when the project status is
        `unhealthy`; transport and authorization failures use HTTP errors.
      operationId: getProjectHealth
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Project health snapshot retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectHealthResponse'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/metrics/query:
    post:
      tags:
        - Projects
      summary: Query project runtime metrics
      description: |
        Evaluates a batch of named, curated runtime metric queries over one
        trailing time range. Query IDs correlate each request with its result;
        raw backend query languages are intentionally not exposed.
      operationId: queryProjectMetrics
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectMetricsQueryRequest'
      responses:
        '200':
          description: Project runtime metric queries evaluated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectMetricsQueryResponse'
        '400':
          description: Invalid metric query
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Runtime metrics backend unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/logo:
    get:
      tags:
        - Projects
      summary: Get the project logo image
      description: |
        Returns the raw logo image stored in the project's S3 folder. This
        endpoint is unauthenticated so the asset can be rendered directly in an
        `<img>` tag; project IDs are unguessable UUIDs and logos are
        non-sensitive branding. The `Project.logo_url` field exposes a versioned
        path to this endpoint.
      operationId: getProjectLogo
      security: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Logo image
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
            image/svg+xml:
              schema:
                type: string
                format: binary
        '404':
          description: Project or logo not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Projects
      summary: Upload or replace the project logo
      description: |
        Uploads an image as the project's logo, storing it in the project's S3
        folder. Accepts PNG, JPEG, GIF, WebP, or SVG up to 2 MB. Replaces any
        existing logo. Returns the updated project, whose `logo_url` reflects
        the new logo.
      operationId: uploadProjectLogo
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - logo
              properties:
                logo:
                  type: string
                  format: binary
                  description: Logo image (PNG, JPEG, GIF, WebP, or SVG; max 2 MB)
      responses:
        '200':
          description: Logo uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Bad request (missing file, unsupported type, or too large)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Project is being deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Logo storage is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Projects
      summary: Remove the project logo
      description: |
        Deletes the project logo from the project's S3 folder and clears its
        record. Returns the updated project with no `logo_url`.
      operationId: deleteProjectLogo
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Logo removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Project is being deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Logo storage is not configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/usage:
    get:
      tags:
        - Projects
      summary: Get usage metrics for a project
      description: |
        Returns project usage totals for the current usage month plus
        recent hourly and daily time series for each tracked metric.
      operationId: getProjectUsage
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: Usage metrics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectUsageResponse'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/config:
    get:
      tags:
        - Projects
      summary: Export project configuration
      description: |
        Exports the project's current user-facing configuration as a
        declarative manifest. Returns JSON by default. Request the canonical
        volcano-config.yaml rendering with `Accept: application/yaml` or
        `?format=yaml`; the YAML is returned verbatim as the raw response body
        (`Content-Type: application/yaml`) and is meant to be saved as-is.
        Write-only secrets (SMTP password, OAuth client secrets, TLS material)
        are omitted from the export; the YAML rendering adds a header comment
        describing how to set them via CLI environment interpolation.
      operationId: getProjectConfig
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: format
          in: query
          required: false
          description: Response format override. Takes precedence over the Accept header.
          schema:
            type: string
            enum:
              - json
              - yaml
      responses:
        '200':
          description: |
            Current project configuration. JSON by default; when YAML is
            requested the body is the canonical volcano-config.yaml document
            served verbatim with `Content-Type: application/yaml`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectConfig'
            application/yaml:
              schema:
                type: string
                format: binary
                description: |
                  Canonical volcano-config.yaml document returned verbatim,
                  ready to be saved as-is.
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - Projects
      summary: Apply project configuration
      description: |
        Validates and applies a declarative configuration manifest to the
        project, reconciling each declared section and returning a per-resource
        report. Omitted sections are untouched. Declared collection keys
        (`variables`, `buckets[].policies`, `auth.providers.oauth`,
        `auth.email.templates`, `functions[].schedulers`) are fully synced:
        resources absent from the manifest are deleted. Functions, frontends,
        databases, and buckets are never created or deleted; manifest entries
        for resources that do not exist are skipped and reported in `skipped`,
        and existing resources missing from a declared section are reported in
        `missing`. Validation failures (including plan-gate violations) return
        422 and nothing is applied. Set `dry_run=true` to get the projected
        report without applying changes. Applies are serialized per project;
        a concurrent apply returns 409.
      operationId: applyProjectConfig
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: dry_run
          in: query
          required: false
          description: Validate and report projected actions without applying changes.
          schema:
            type: boolean
            default: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectConfig'
      responses:
        '200':
          description: |
            Apply report. Individual entries may still carry `action: error`
            for apply-phase failures (summary.errors > 0); already-applied
            changes are not rolled back.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectConfigApplyResult'
        '400':
          description: Malformed request body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Another apply is in progress for this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Manifest validation failed; nothing was applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectConfigValidationErrorResponse'
  /projects/{id}/databases/{databaseName}/queries:
    get:
      tags:
        - Databases
      summary: Get database queries
      description: |
        Returns the database's current top queries from pg_stat_statements
        ranked by total execution time.

        **PRO plan required.** This endpoint is only available to projects owned
        by users on the PRO billing plan.
      operationId: getProjectDatabaseQueries
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/DatabaseName'
        - name: limit
          in: query
          description: Maximum number of queries to return.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        '200':
          description: Database query performance retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseQueryPerformanceResponse'
        '400':
          description: Bad request - invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project or database not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/deployments:
    get:
      tags:
        - Projects
      summary: List deployments in a project
      description: |
        Lists Function and Frontend deployment attempts across the project,
        ordered most-recent first. Each item includes a normalized resource
        reference so clients can render both resource types without extra
        fetches.
      operationId: listProjectDeployments
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectDeployments'
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/domains:
    get:
      tags:
        - Frontends
      summary: List all custom domains in a project
      description: |
        Project-scoped custom-domain list. Returns every active custom
        domain across every frontend in the project (excludes soft-deleted
        rows). Each item inlines the linked frontend's id and name so the
        UI does not need a second fetch to render the "Linked to" column.
      operationId: listProjectCustomDomains
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedProjectCustomDomains'
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/functions:
    get:
      tags:
        - Functions
      summary: List all functions in a project
      operationId: listFunctions
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFunctions'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Functions
      summary: Create or update function code
      description: |
        Upload a serverless function source bundle. Direct API clients may send the function code
        as a ZIP or tar.gz archive via multipart/form-data. The API stores a normalized tar.gz
        source archive.
        Cloud deploys should include source files and dependency manifests/lockfiles, not installed
        dependency directories. Volcano installs Node.js, Python, and Ruby dependencies during the
        function compile build.
        Source archive size is enforced by the API with `SOURCE_ARCHIVE_SIZE_LIMIT_MB`; the CLI
        does not apply its own source archive size limit. After the final Lambda container image is
        built, the publish build enforces `LAMBDA_TARGET_CONTAINER_SIZE_LIMIT_MB` before pushing.
        Uploaded source archives cannot contain symlink entries. Safe symlinks created during
        the cloud build are materialized before publish.
        Volcano builds and deploys the function asynchronously after upload. New functions and existing
        function code updates return a Function resource with `status: provisioning` while the Step
        Functions workflow is running, then transition to `active` or `failed`.
        If a function with the same name already exists in the project, this operation updates that
        function's runtime, handler, and source bundle and returns `200 OK`.
        Each project can contain up to 5,000 functions. Creating a new function over this cap returns 403.
      operationId: createFunction
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - code
                - runtime
              properties:
                name:
                  type: string
                  description: DNS-safe function name (lowercase letters, numbers, hyphens; cannot start or end with hyphen)
                  maxLength: 63
                  pattern: ^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$
                  example: my-api-function
                code:
                  type: string
                  format: binary
                  description: ZIP or tar.gz archive containing function source code plus dependency manifests/lockfiles. The API enforces SOURCE_ARCHIVE_SIZE_LIMIT_MB and stores a normalized tar.gz source archive.
                runtime:
                  type: string
                  enum:
                    - nodejs22.x
                    - nodejs24.x
                    - python3.10
                    - python3.11
                    - python3.12
                    - python3.13
                    - python3.14
                    - ruby3.3
                    - ruby3.4
                    - ruby4.0
                  description: |
                    Runtime environment. Required.
                    - Node.js: nodejs22.x, nodejs24.x
                    - Python: python3.10, python3.11, python3.12, python3.13, python3.14
                    - Ruby: ruby3.3, ruby3.4, ruby4.0
                  example: nodejs24.x
                handler:
                  type: string
                  description: |
                    The name of the function to invoke. Defaults to "handler" if not specified.
                    Your code must export/define a function with this name:
                    - Node.js: exports.handler (in index.js)
                    - Python: def handler() (in main.py)
                    - Ruby: def handler() (in main.rb)
                  default: handler
                  example: handler
      responses:
        '200':
          description: Existing function updated and update workflow started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '201':
          description: Function created and deployment workflow started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '400':
          description: Bad request (invalid file, too large, etc.)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Function limit exceeded for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error (function deployment failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/functions/{functionId}:
    get:
      tags:
        - Functions
      summary: Get function by ID
      operationId: getFunction
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '404':
          description: Function not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Functions
      summary: Update function settings
      operationId: updateFunction
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFunctionRequest'
            examples:
              makePublic:
                summary: Make function public (anon keys can invoke)
                value:
                  is_public: true
              makePrivate:
                summary: Make function private (default behavior)
                value:
                  is_public: false
      responses:
        '200':
          description: Function updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Function'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Function not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Functions
      summary: Delete a function
      description: |
        Starts asynchronous function deletion. The function remains visible with `status: deleting`
        until cleanup finishes, then it returns 404 and no longer appears in function lists.
      operationId: deleteFunction
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
      responses:
        '202':
          description: Function deletion started
        '404':
          description: Function not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /functions/{functionId}/invoke:
    post:
      tags:
        - Functions
      summary: Invoke a function
      description: |
        Invoke a serverless function.

        **With Service Key** (admin/background operations):
        - Use for background jobs, webhooks, cron, admin operations
        - Function receives payload only (no user context)
        - Database queries bypass RLS (admin access)

        **With Auth User Token** (user-facing):
        - Use for user-initiated actions
        - Function receives payload + `__volcano_auth` context:
          ```javascript
          {
            user_id: "uuid",
            email: "user@example.com",
            project_id: "uuid",
            role: "authenticated" or "anonymous"
          }
          ```
        - Database queries enforce RLS (user-scoped data)

        **With Anon Key** (public function only):
        - Requires anon key permission: `functions.invoke`
        - Function must have `is_public: true`
        - Function receives payload only (no `__volcano_auth`)

        **Transport and CORS:**
        - Direct invocation endpoint is intended for `http://api.<domain>/functions/{functionId}/invoke`
        - DNS invocation endpoint is `https://{functionId}.functions.<domain>/`
        - CORS preflight for invocation allows only `POST, OPTIONS`
      operationId: invokeFunction
      security:
        - AnonKey: []
        - ServiceRoleKey: []
        - AuthUserAccessToken: []
      parameters:
        - $ref: '#/components/parameters/FunctionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FunctionInvocationRequest'
            examples:
              serviceCall:
                summary: Admin/background operation (service key)
                value:
                  payload:
                    action: process_batch
                    items:
                      - 1
                      - 2
                      - 3
              userCall:
                summary: User-initiated call (auth token)
                value:
                  payload:
                    action: get_profile
              anonCall:
                summary: Public function call (anon key)
                value:
                  payload:
                    action: ping_public_endpoint
      responses:
        '200':
          description: Function response (passthrough from function runtime)
          headers:
            X-Volcano-Version:
              description: Volcano API/runtime version that served this invocation (`<version>` in production, `<env>-<version>` in non-production)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInvocationResponse'
        '400':
          description: Bad request - invalid payload or function in failed state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - CORS blocked, missing `functions.invoke`, or private function with anon key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Function not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: |
            Rate limit exceeded (per-function or project-wide limit), or the
            owning platform user's monthly bandwidth cap (aggregate ingress +
            egress) was exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: |
            Function still provisioning or rate limiting service unavailable.
            A freshly deployed (or updated) function may briefly report
            `provisioning` and reject invocations until the background status
            reconciler observes its deployment workflow completing and transitions
            it to `active`. This is expected for a few seconds after deploy; clients
            should retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Function response (passthrough; status code/body/headers come from the function)
          headers:
            X-Volcano-Version:
              description: Volcano API/runtime version that served this invocation (`<version>` in production, `<env>-<version>` in non-production)
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInvocationResponse'
  /functions/resolve:
    get:
      tags:
        - Functions
      summary: Resolve function name for invocation
      description: |
        Resolves a DNS-safe function name to its function ID within the caller's project.

        SDKs use this endpoint internally to invoke by function name while routing by function ID.

        **With Service Key**:
        - Allowed

        **With Auth User Token**:
        - Allowed

        **With Anon Key**:
        - Requires anon key permission: `functions.invoke`
        - Function must have `is_public: true`
      operationId: resolveFunctionForInvocation
      security:
        - AnonKey: []
        - ServiceRoleKey: []
        - AuthUserAccessToken: []
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
            maxLength: 63
            pattern: ^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$
          description: DNS-safe function name (lowercase letters, numbers, hyphens; cannot start or end with hyphen)
          example: my-function
      responses:
        '200':
          description: Function resolved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveFunctionResponse'
        '400':
          description: Bad request - missing or invalid function name
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - CORS blocked or missing `functions.invoke` permission for anon key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Function not found (or private function with anon key)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/logs/activity:
    post:
      tags:
        - Logs
      summary: Get project log activity
      description: |
        Retrieve bucketed log counts for one resource type in the project. Set
        `resource.type` to `function`, `frontend`, or `database`. Add
        `resource.ids` to filter to one or more resources, and add
        `resource.deployments.ids` to count deployment logs instead of runtime
        logs for functions and frontends. Deployment logs are not supported for
        databases. Database logs are a PRO-plan feature; `resource.type=database`
        from a FREE-plan project owner returns 403. The activity window is limited
        to the plan's retention window (FREE: 1 day, PRO: 30 days); older start
        times are clamped to that window.
      operationId: getProjectLogActivity
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogActivityRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogActivityResponse'
        '400':
          description: Bad request - invalid query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/logs/search:
    post:
      tags:
        - Logs
      summary: Search project logs
      description: |
        Search or filter logs for one resource type in the project. Set
        `resource.type` to `function`, `frontend`, or `database`. Add
        `resource.ids` to filter to one or more resources, and add
        `resource.deployments.ids` to read deployment logs instead of runtime
        logs for functions and frontends. Deployment logs are not supported for
        databases. Database logs are a PRO-plan feature; requests for
        `resource.type=database` from a FREE-plan project owner return 403.
        Log history (runtime and deployment) is limited to the plan's retention
        window (FREE: 1 day, PRO: 30 days); older time ranges are clamped to that
        window.
      operationId: searchProjectLogs
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogSearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogSearchResponse'
        '400':
          description: Bad request - invalid query parameter
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/logs/stream:
    post:
      tags:
        - Logs
      summary: Stream project logs
      description: |
        Live-tail project logs as Server-Sent Events. The request body uses the
        resource selector plus `levels`, `regions`, `start_time`, and `limit`,
        including runtime logs and function/frontend deployment logs selected
        with `resource.deployments`. Deployment logs are not supported for
        databases. Database logs are a PRO-plan feature; `resource.type=database`
        from a FREE-plan project owner returns 403. Do not send `q`, `cursor`, or
        `end_time`; use `/logs/search` for text search and range backfills.
        Explicit historical `start_time` values are limited to the plan's
        retention window (FREE: 1 day, PRO: 30 days). Resume with
        `Last-Event-ID` or the `last_event_id` query parameter. The cursor is
        bound to the request body: the resource selector and every filter must
        match the original request when reconnecting, otherwise the request is
        rejected with `400`.

        This is a live tail, not a gap-free backfill. On connect or reconnect the
        server delivers at most `limit` of the most recent matching events from
        the cursor position and then follows new events; events older than that
        window are not replayed. Use `/logs/search` to backfill a time range.
      operationId: streamProjectLogs
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: Last-Event-ID
          in: header
          required: false
          schema:
            type: string
          description: Opaque stream cursor from the most recent SSE `id` field.
        - name: last_event_id
          in: query
          required: false
          schema:
            type: string
          description: Opaque stream cursor fallback when setting `Last-Event-ID` is not practical.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogStreamRequest'
      responses:
        '200':
          description: Server-Sent Events stream. `log` events contain a JSON `LogSearchEvent`; `warning` events contain a JSON object with an `error` field.
          content:
            text/event-stream:
              schema:
                type: string
              examples:
                log:
                  summary: Log event
                  value: |
                    : connected

                    id: STREAM_CURSOR
                    event: log
                    data: {"id":"LOG_EVENT_ID","timestamp":"2024-01-01T12:00:00Z","level":"info","message":"User logged in","resource":{"type":"function","id":"550e8400-e29b-41d4-a716-446655440000","name":"login"},"region":"us-east-1"}
        '400':
          description: Bad request - invalid selector, stream cursor, or unsupported stream field
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project or resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error - log streaming setup failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/functions/batch:
    post:
      tags:
        - Functions
      summary: Deploy multiple functions in one request
      description: |
        Upload multiple function source archives in one multipart request. Each archive should contain source files
        plus dependency manifests/lockfiles, not installed dependency directories. ZIP and tar.gz uploads are
        accepted and normalized to tar.gz before storage. The API enforces `SOURCE_ARCHIVE_SIZE_LIMIT_MB`
        for each uploaded and normalized source archive. The server records a shared
        deployment batch ID for the resulting function deployments. Each function deployment runs its own
        compile/publish workflow concurrently, and each publish build enforces `LAMBDA_TARGET_CONTAINER_SIZE_LIMIT_MB`
        for the final Lambda container image.
        One batch request can include up to 100 functions. Submit multiple batch requests for larger projects.
        If one function fails before its workflow starts, already-started function deployments are left
        running and the failed function is reported in the `failed` array. Failed new functions are deleted;
        failed updates are rolled back to their previous metadata/status where possible.
      operationId: createFunctionsBatch
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                functions:
                  type: string
                  description: JSON array of functions with `name`, `runtime`, optional `handler`, and `file_field`. Each `file_field` must name a multipart file field containing that function's ZIP or tar.gz source bundle.
                code_0:
                  type: string
                  format: binary
                  description: Function ZIP or tar.gz archive referenced by the first manifest entry's `file_field`; additional code_N file fields may be included. Each archive is subject to SOURCE_ARCHIVE_SIZE_LIMIT_MB.
              required:
                - functions
      responses:
        '202':
          description: Batch deployment accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFunctionDeployResponse'
        '207':
          description: Batch deployment partially accepted; successful functions started deployment and failed functions were compensated where possible
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchFunctionDeployResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/schedulers:
    get:
      tags:
        - Functions
      summary: List every function scheduler in a project
      description: |
        Project-scoped counterpart to `/projects/{id}/functions/{functionId}/schedulers`.
        Returns schedulers across all functions in the project, ordered by
        creation time descending, with standard page/limit pagination so
        clients don't have to fan out one request per function.
      operationId: listProjectSchedulers
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Project schedulers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionSchedulerListResponse'
  /projects/{id}/functions/{functionId}/schedulers:
    get:
      tags:
        - Functions
      summary: List schedulers for a function
      operationId: listFunctionSchedulers
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
      responses:
        '200':
          description: Function schedulers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionSchedulerListResponse'
    post:
      tags:
        - Functions
      summary: Create a scheduler for a function
      description: Creates regional scheduled invocation jobs. Requested regions must be a subset of the function's deployed regions.
      operationId: createFunctionScheduler
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFunctionSchedulerRequest'
      responses:
        '201':
          description: Scheduler created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionScheduler'
        '400':
          description: Invalid schedule or geofenced region
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/functions/{functionId}/schedulers/{schedulerId}:
    get:
      tags:
        - Functions
      summary: Get a function scheduler
      operationId: getFunctionScheduler
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
        - $ref: '#/components/parameters/SchedulerId'
      responses:
        '200':
          description: Function scheduler
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionScheduler'
    patch:
      tags:
        - Functions
      summary: Update a function scheduler
      operationId: updateFunctionScheduler
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
        - $ref: '#/components/parameters/SchedulerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFunctionSchedulerRequest'
      responses:
        '200':
          description: Scheduler updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionScheduler'
    delete:
      tags:
        - Functions
      summary: Delete a function scheduler
      operationId: deleteFunctionScheduler
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
        - $ref: '#/components/parameters/SchedulerId'
      responses:
        '204':
          description: Scheduler deleted
  /projects/{id}/functions/{functionId}/deployments:
    get:
      tags:
        - Functions
      summary: List function deployments
      operationId: listFunctionDeployments
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FunctionId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFunctionDeployments'
        '404':
          description: Function not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/frontends:
    get:
      tags:
        - Frontends
      summary: List all frontends in a project
      operationId: listFrontends
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFrontends'
        '400':
          description: Bad request - invalid project identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Frontends
      summary: Create a new frontend deployment
      description: |
        Creates and deploys a frontend for the project.
        If a frontend with the same name already exists in the project, this operation updates that
        frontend using the uploaded archive and starts a new deployment. Create, update, and redeploy
        responses return `status: provisioning` while the frontend workflow is running, then transition
        to `active` or `failed`.
        For monorepos, provide `app_root` as a relative path from the uploaded archive root
        to the Next.js app that should be built. Omit it for single-app archives.
        Supported frontend environments are Next.js 15.x and 16.x with Node.js
        22.x or 24.x. The Node.js runtime is inferred from
        `package.json` `engines.node`; if omitted, Volcano uses Node.js 22.x.
        The selected Node.js family must also satisfy the installed Next.js package's
        `engines.node` constraint. Volcano tests Next 15.5.20 (`^18.18.0 || ^19.8.0 || >=20.0.0`) and Next 16.2.10 (`>=20.9.0`).
        Source archive size is enforced by the API with `SOURCE_ARCHIVE_SIZE_LIMIT_MB`; the CLI
        does not apply its own source archive size limit. After the final Lambda container images are
        built, the publish build enforces `LAMBDA_TARGET_CONTAINER_SIZE_LIMIT_MB` before pushing.
        This operation is limited by plan-based frontend deployment quotas (`FREE_FRONTEND_DEPLOYMENTS`, `PRO_FRONTEND_DEPLOYMENTS`).
        Each project can contain up to 5,000 frontends regardless of plan.
      operationId: createFrontend
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - name
                - archive
              properties:
                name:
                  type: string
                  maxLength: 63
                  pattern: ^[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$
                  description: DNS-safe frontend name
                framework:
                  type: string
                  enum:
                    - nextjs
                  default: nextjs
                  description: Next.js frontend. Supported Next.js majors are 15.x and 16.x.
                app_root:
                  type: string
                  maxLength: 1024
                  description: Optional relative POSIX path from the uploaded archive root to the Next.js app to build, for example `apps/web`.
                  example: apps/web
                archive:
                  type: string
                  format: binary
                  description: ZIP or tar.gz archive of the frontend project directory or monorepo workspace root. The API enforces SOURCE_ARCHIVE_SIZE_LIMIT_MB and stores a normalized tar.gz archive.
      responses:
        '200':
          description: Existing frontend updated and redeployment workflow started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frontend'
        '201':
          description: Frontend created and deployment workflow started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frontend'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Frontend deployment limit exceeded for the current plan or project hard cap
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - frontend deployment already in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service unavailable - frontend workflow or archive limit configuration missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/frontends/{frontendId}:
    get:
      tags:
        - Frontends
      summary: Get frontend details
      operationId: getFrontend
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FrontendId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frontend'
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Frontend not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Frontends
      summary: Delete a frontend
      description: |
        Starts asynchronous frontend deletion. The frontend remains visible with `status: deleting`
        until cleanup finishes, then it returns 404 and no longer appears in frontend lists.
      operationId: deleteFrontend
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FrontendId'
      responses:
        '202':
          description: Frontend deletion started
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Frontend not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service unavailable - frontend workflow configuration missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/frontends/{frontendId}/redeploy:
    post:
      tags:
        - Frontends
      summary: Redeploy frontend using latest uploaded artifact
      description: |
        Starts a new frontend workflow using the latest stored artifact. The frontend remains visible
        with `status: provisioning` while the workflow runs, then transitions to `active` or `failed`.
      operationId: redeployFrontend
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FrontendId'
      responses:
        '200':
          description: Frontend redeploy started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Frontend'
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Frontend not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - frontend deployment already in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service unavailable - frontend workflow configuration missing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/frontends/{frontendId}/domain:
    get:
      tags:
        - Frontends
      summary: Get frontend custom domain status
      operationId: getFrontendCustomDomain
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FrontendId'
      responses:
        '200':
          description: Frontend custom domain status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendCustomDomainResponse'
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Frontend or custom domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Frontends
      summary: Configure frontend custom domain (PRO)
      description: |
        Configures one custom domain for a frontend.
        The default Volcano-generated frontend URL remains active.
        Wildcard Volcano frontend TLS remains valid and isolated from custom-domain certificate changes.
      operationId: createFrontendCustomDomain
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FrontendId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFrontendCustomDomainRequest'
      responses:
        '200':
          description: Custom domain already configured with same hostname
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendCustomDomainResponse'
        '201':
          description: Custom domain provisioning started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendCustomDomainResponse'
        '400':
          description: Bad request - invalid domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - custom domains require PRO plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Frontend not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Conflict - custom domain already in use or frontend already has a custom domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Service unavailable - custom domain provisioning is temporarily unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Frontends
      summary: Delete frontend custom domain
      operationId: deleteFrontendCustomDomain
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FrontendId'
      responses:
        '204':
          description: Custom domain detach scheduled
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Frontend or custom domain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/frontends/{frontendId}/deployments:
    get:
      tags:
        - Frontends
      summary: List frontend deployments
      operationId: listFrontendDeployments
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FrontendId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedFrontendDeployments'
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Frontend not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/frontends/{frontendId}/usage:
    get:
      tags:
        - Frontends
      summary: Per-day request and error counts for a single frontend
      description: |
        Returns a zero-filled daily series of request counts and 5xx
        error counts for one frontend, oldest first. Each entry is one
        UTC day; missing days (no traffic recorded) come back as
        `requests: 0, errors: 0` so the response always has exactly
        `days` entries.

        Backs the Monitoring section on the Frontend detail page in
        volcano-web. `days` defaults to 30 and is capped at 90 to keep
        the (frontend_id, day) index scan bounded.
      operationId: getFrontendUsageHistory
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/FrontendId'
        - name: days
          in: query
          description: Number of trailing days to return (1–90, default 30).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 90
            default: 30
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrontendUsageHistoryResponse'
        '400':
          description: Bad request - invalid identifier
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized - invalid or missing token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden - project ownership required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Frontend not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/variables:
    get:
      tags:
        - Variables
      summary: List all variables for a project
      description: |
        Returns project-level environment variables used by deployed functions and frontends.
      operationId: listVariables
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedVariables'
        '404':
          description: Project not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Variables
      summary: Create or update a variable
      description: |
        Creates a project-level environment variable and triggers asynchronous propagation
        to deployed functions and frontends in the project's configured regions.
      operationId: createVariable
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVariableRequest'
      responses:
        '201':
          description: Variable created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Variable'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/databases:
    get:
      tags:
        - Databases
      summary: List all databases for a project
      operationId: listDatabases
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDatabases'
    post:
      tags:
        - Databases
      summary: Create a new serverless PostgreSQL database
      description: |
        Creates a serverless PostgreSQL database in the project.
        Each project can contain up to 100 databases. Requests over this cap return 403.
      operationId: createDatabase
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatabaseRequest'
      responses:
        '201':
          description: Database created (provisioning)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        '403':
          description: Database limit exceeded for the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /projects/{id}/databases/{databaseName}:
    get:
      tags:
        - Databases
      summary: Get database details
      operationId: getDatabase
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/DatabaseName'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
    delete:
      tags:
        - Databases
      summary: Delete a database
      description: |
        Deletes a database and its backing Neon project. When the Neon project is
        removed synchronously the database row is deleted and the response is
        `204`. If the Neon project cannot be deleted right away, the database row
        is retained (status `deleting`) and its teardown is handed to the
        background reconciler, which retries the Neon deletion and removes the row
        once Neon is gone; in that case the response is `202`. The database row is
        never dropped while its Neon project still exists, so a Neon project is
        never orphaned without a record to retry from.
      operationId: deleteDatabase
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/DatabaseName'
      responses:
        '202':
          description: |
            Deletion accepted and in progress. The Neon project could not be
            removed synchronously, so the database is marked `deleting` and torn
            down asynchronously by the reconciler.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: deleting
                  message:
                    type: string
                    example: database deletion in progress
        '204':
          description: Database deleted (Neon project removed synchronously)
  /projects/{id}/databases/{databaseName}/reset-password:
    post:
      tags:
        - Databases
      summary: Reset database password
      description: |
        Rotates the Volcano-managed PostgreSQL password used by clients when connecting
        through pgproxy. This does not rotate or expose the internal Neon owner password.
        The returned password and connection string are the only client credentials that
        will authenticate through pgproxy after reset.
      operationId: resetDatabasePassword
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/DatabaseName'
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  role_name:
                    type: string
                    description: Volcano-managed per-database client login (also the pgproxy routing username)
                    example: volcano_client_11111111-1111-1111-1111-111111111111
                  new_password:
                    type: string
                    description: New Volcano-managed client password. Always starts with `vpg_`.
                    example: vpg_qv3Y4GQwHcklV4G76ZcKhZW-rmZLQktEORHnGqU0Bpk
                  connection_string:
                    type: string
                    description: Updated pgproxy connection string using Volcano-managed credentials.
                    example: postgresql://volcano_client_11111111-1111-1111-1111-111111111111:vpg_qv3Y4GQwHcklV4G76ZcKhZW-rmZLQktEORHnGqU0Bpk@database.volcano.dev:5432/mydb?sslmode=require&application_name=volcano_full_access
  /projects/{id}/databases/{databaseName}/type:
    patch:
      tags:
        - Databases
      summary: Update database size
      description: |
        Change the size tier of a database. This may briefly interrupt active connections.

        **Available sizes:**
        - `volcano-db-xs`: Up to ~1GB RAM - Development, small apps
        - `volcano-db-s`: Up to ~4GB RAM - Production-ready, light traffic
        - `volcano-db-m`: Up to ~8GB RAM - Medium traffic applications
        - `volcano-db-l`: Up to ~16GB RAM - High traffic, larger datasets
        - `volcano-db-xl`: Up to ~32GB RAM - Heavy workloads
        - `volcano-db-2xl`: Up to ~64GB RAM - Enterprise-scale
      operationId: updateDatabaseType
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/DatabaseName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatabaseTypeRequest'
      responses:
        '200':
          description: Database type updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Database'
        '400':
          description: Invalid database type
        '404':
          description: Database not found
  /projects/{id}/databases/{databaseName}/stats:
    get:
      tags:
        - Databases
      summary: Get database consumption metrics
      description: |
        Retrieve consumption metrics including storage, compute time, and data transfer.
        Metrics are aggregated at the project level. Defaults to last 24 hours.

        **Note:** Advanced metrics require an upgraded plan.
      operationId: getDatabaseStats
      security:
        - UserToken: []
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/DatabaseName'
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Start time in RFC3339 format (e.g., "2024-01-01T00:00:00Z"). Defaults to 24 hours ago.
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: End time in RFC3339 format (e.g., "2024-01-02T00:00:00Z"). Defaults to now.
        - name: granularity
          in: query
          required: false
          schema:
            type: string
            enum:
              - hourly
              - daily
              - monthly
            default: hourly
          description: Level of detail for metrics aggregation
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseStats'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Database not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '503':
          description: Database metrics not available or requires upgraded plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /databases/{databaseName}/query/ping:
    post:
      tags:
        - Database Queries
      summary: Database connectivity probe (REST API)
      description: |
        Connectivity probe that runs a fixed `SELECT 1` through pgproxy, using the
        same authentication, status/bandwidth gating, and metering as the other
        `/query/*` endpoints.

        Unlike those endpoints, ping takes **no request body** and performs **no
        table-name validation**, so it works on any database — including a freshly
        provisioned, empty one. It is a real committed round-trip through pgproxy,
        so a `200` means the database is reachable and queryable. Used by the
        dashboard's database connection test.
      operationId: queryDatabasePing
      security:
        - AuthUserAccessToken: []
      parameters:
        - $ref: '#/components/parameters/DatabaseName'
      responses:
        '200':
          description: Database is reachable
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                    description: Result rows of the probe query
                  count:
                    type: integer
                    description: Number of rows returned
              example:
                data:
                  - '?column?': 1
                count: 1
        '401':
          description: Not authenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Database not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          $ref: '#/components/responses/DatabaseQueryCapExceeded'
  /databases/{databaseName}/query/select:
    post:
      tags:
        - Database Queries
      summary: Query database with SELECT (REST API)
      description: |
        Query your database using a simple REST API - no SQL required!

        **Authentication:** Requires auth user access token (from signup/signin)

        **Row-Level Security:** Automatically enforced - you see only data you have access to

        **Use Cases:**
        - Query from browser/mobile apps
        - Simple data retrieval
[...]
